@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import 'tailwindcss';
@import 'tailwind-animations';

@plugin "daisyui";


@theme {
  --font-sans: "Montserrat", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(0.333 0.114 1.4);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0.526 0.091 81.1);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0.76 0.004 174.4);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* Scrollbar para tema claro */
[data-theme="light"] ::-webkit-scrollbar {
  background: var(--color-base-100);
}

[data-theme="light"] ::-webkit-scrollbar-thumb {
  background: var(--color-base-200);
}

/* Scrollbar para tema oscuro */
[data-theme="dark"] ::-webkit-scrollbar {
  background: var(--color-base-300);
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: var(--color-base-200);
}

/* Firefox */
[data-theme="light"] {
  scrollbar-color: var(--color-base-100) var(--color-base-content);
}

[data-theme="dark"] {
  scrollbar-color: var(--color-base-300) var(--color-base-100);
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(21% 0.006 285.885);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(98% 0 0);
  --color-primary: oklch(33.3% 0.114 1.4);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(52.6% 0.091 81.1);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(76% 0.004 174.4);
  --color-accent-content: oklch(20% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@custom-variant dark (&:where(.dark, .dark *));
